{% extends 'base.html' %}
{% block content %}
<h2>Welcome to the profile of {{user.username}} </h2>
<h3>Your Email: {{user.email}}</h3>

<div>
    <p><strong>About Me:</strong>&nbsp{{user.about_me}}</p>
</div>

<div>
    My Stories:
    <ul>
    {% for story in user.newsstory_set.all %}
        {% comment %} {% if story is not "" %}
            <p>There are no stories to display.</p>
            {% comment %} Doesnt print when  there are no stories {% endcomment %}
        {% comment %} {% else %} {% endcomment %} 
            <li><a href="{% url 'news:story' story.id %}">{{story.title}}</a></li>
        {% comment %} {% endif %} {% endcomment %}
    {% endfor %}
    </ul>
</div>


<div>
    <a href="{% url 'news:newStory' %}">Write a new Story</a>
</div>



{% endblock %}


