{% extends 'base.html' %}
{% block content %}
<h>2Welcome to the profile of {{customuser.username}} </h2>
<h3>Your Email: {{customuser.email}}</h3>

<ul>
    {% if latest_stories %}
        {% for story in latest_stories %}
            <li>{{ story.title }}</li>
            {%include "./storyCard.html" with story=story position=forloop.counter %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</ul>

{% endblock %}

{% comment %} user stories {% endcomment %}

