{% extends 'base.html' %}
{% block content %}
{% comment %} <div id="w"> {% endcomment %}
<div id="content">

    <div>
        <div class="circular--landscape">
            {% if user.image%}
                    <img src="{{ user.image }}">
                {% else %}
                    <img src="https://picsum.photos/600">
            {% endif %}
            </div>
        <h2>Welcome to the profile of <span style="color: orange;">{{user.username}}</span> </h2>
    </div>

    <div>
        <p><strong>About Me:</strong>&nbsp{{user.about_me}}</p>
    </div>


    <div>
        {% if profile == profile.id %}
            <a href="{% url 'users:updateProfile' user.id %}">Edit Profile</a>
        {% endif %} 
    </div>


    <div class="storylist">
        <h4>My Stories:</h4>
        {% for story in user.newsstory_set.all %}
            <ul>
                <a href="{% url 'news:story' story.id %}">{{story.title}}</a></p> 
            <div class="edit_del_container"> 
                <a class="edit_container" href="{%url 'news:editStory' story.id %}"> Edit </a> / <a class="del_container" href="{%url 'news:deleteStory' story.id %}"> Delete </a>
            </div>
            </ul>
        {% empty %}
            <p>No stories are available.</p>
        {% endfor %}
        
    </div>


    <div>
        <a  href="{% url 'news:newStory' %}">Write a new Story</a>
    </div>

</div>

{% endblock %}


