{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Ayeesha Fredericksen">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body class="header_container">
        <header style="bottom-border: 5px groove #orange;">
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1><img style="width:150px; display:inline-block;" src="/static/news/images/Shecodesbymidnight.png" alt="shecodes logo">
                        <span style="color: #8643c4;">She</span><span style="color: orange;">{Codes}</span> By Midnight</h1>
                    <h2>A news page where all stories are published at midnight<span style="font-size: 1.5rem; font-style: italic;"> - (totally not because I ran out of time to override the date-time selector)</span></h2>
                    {% comment %} <h3>(totally not because I couldn't get the time change to work)</h3> {% endcomment %}
                </a>
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}
        </header>
        
        <!-- content blocks here -->
        {% block content %}{% endblock %}

    </body>
</html>
