@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel+Decorative:wght@400;700;900&family=Federo&family=Fjalla+One&family=Italiana&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Mulish:wght@200&family=Noto+Serif&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Viaoda+Libre&display=swap');



body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    vertical-align: middle;
    background-color: #ffff;
    padding: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 1vh;
}

/* img {
    filter: grayscale(100%);
} */

h1 {
    font-family:'Cinzel Decorative', cursive;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    /* border-bottom: 1px solid #000; */
    /* font-family: 'Montserrat Subrayada', sans-serif; */
}

h2 {
    font-size:2rem;
    /* font-family: 'Montserrat Subrayada', sans-serif;  */
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h4{
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif; 
}

#header-text {
    flex-basis: 80%;
    display: flex;
    /* border-bottom: 10px orange groove; */
    /* border-bottom: 5px groove ; */
}

.header_container{
    width:100%;
    border-top: 10px orange double;
}

nav {
    flex-basis: 20%;
    justify-content: right;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    font-size:1rem;
    /* font-family:'Lora', serif; */
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    /* font-family: monospace; */
    font-family: 'Lora', serif;
}

/* storycard heading */
.storycard_heading{
    text-transform: uppercase;
}

.circular--landscape {
    display: inline-block; 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.circular--landscape img {
    width: auto; 
    height: 100%;
    object-fit: cover;
}

a:hover{
    font-weight:bold;
}

.storylist a:hover{
    font-weight:bold;
    font-size: larger;
}

.nav a:active{
    background-color: #ffa500;
    /* background-color: none; */
}

header a:active{
    background-color: none;
}


.edit_del_container{
    display: inline-block;
}

.edit_container{
    color: #8643c4;
}
.del_container{
    color: orange;
}

/* warning for confirming deletion and profile edits */
/* .update_warning{
    color: rgb(255, 0, 0);
    font-weight:bold;
} */